<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/cpSyslogCollector/src/main/java/com/att/ecomp/dcae/cpsyslogcollector/CpSyslogCollector.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="CONFIG_BINDING_SERVICE" value="config_binding_service"/>
<mapEntry key="CONSUL_HOST" value="zldcrdm5bdcc2cnsl00.2f3fb3.rdm5b.tci.att.com"/>
<mapEntry key="HOSTNAME" value="sh1986.2ad12f1a-2931-4db0-8c88-ad5b8c1c225e.2-0-0.DcaeSyslogCollector"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.att.ecomp.dcae.cpsyslogcollector.CpSyslogCollector"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="cpSyslogCollector"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
