<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/dcae-inventory/src/main/java/com/att/dcae/inventory/InventoryApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="database_password" value="a0ec6a18fcaaa7776ce0543231e665bf44b43ce202f1cf1c4c7c75b35d404840"/>
<mapEntry key="database_url" value="jdbc:postgresql://zldcdhy1becc1-pgec-write.a4b8a7.dyh1b.tci.att.com:5432/dcae_inv"/>
<mapEntry key="database_user" value="dcae_inv_admin"/>
<mapEntry key="server_adminConnectors_port" value="9081"/>
<mapEntry key="server_applicationConnectors_port" value="9080"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.att.dcae.inventory.InventoryApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="server src/main/resources/config_template_local.json"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="dcae-inventory"/>
</launchConfiguration>
