<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/cpSyslogCollector/src/main/java/com/att/ecomp/dcae/cpsyslogcollector/LoadDynamicConfig.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="CONFIG_BINDING_SERVICE" value="config_binding_service"/>
<mapEntry key="CONSUL_HOST" value="realsolcnsl00.dcae.solutioning.homer.att.com"/>
<mapEntry key="DOCKER_HOST" value="realsol-cdokr00.dcae.solutioning.homer.att.com"/>
<mapEntry key="HOSTNAME" value="vv770d.66e3f684-a519-4380-9bbd-68ce22b3698b.1-1-0.dcae-controller-ves-collector"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.att.ecomp.dcae.cpsyslogcollector.LoadDynamicConfig"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="cpSyslogCollector"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
