<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gfpc_2016.07/simulator/nomsim/NomSim.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="NomSim"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-s localhost -f NomInputFiles/NOMCDCevent1.xml -p 60110"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="gfpc_2016.07"/>
</launchConfiguration>
