<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OL_updateSuppression/src/main/java/com/att/overland/updatesuppression/UpdateSuppression.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="FLATIRON_HOSTS" value="uebsb91kcdc.it.att.com"/>
<mapEntry key="FLATIRON_SCOPE" value="overlandproto"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.att.overland.updatesuppression.UpdateSuppression"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-c &quot;etc/updatesuppression.json,etc/updatesuppression2.json&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OL_updateSuppression"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DFLATIRON_HOSTS=&quot;uebsb91kcdc.it.att.com:6167&quot; &#13;&#10;-DFLATIRON_SCOPE=overland &#13;&#10;-DDCAE_UEB_URL=&quot;uebsb91kcdc.it.att.com,uebsb92kcdc.it.att.com,uebsb93kcdc.it.att.com&quot; &#13;&#10;-DDCAE_TOPIC=DCAE-CLOSED-LOOP-EVENTS-shdev&#13;&#10;-DAOTS_UEB_URL=&quot;uebsb91kcdc.it.att.com,uebsb92kcdc.it.att.com,uebsb93kcdc.it.att.com&quot;&#13;&#10;-DAOTS_TOPIC=AOTSCM-TKT-STATUS-TRANSITION-shdev&#13;&#10;-DLOG_DIR=logs"/>
</launchConfiguration>
