<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/overlandcore/src/test/java/com/att/overland/test/OverlandTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.att.overland.test.OverlandTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="overlandcore"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DTEST_CONFIG_FILE=&quot;config/allTests.json&quot;&#13;&#10;-DLOG_DIR=logs&#13;&#10;-DDEFAULT_PMOSS_TARGET=&quot;uebg01&quot;&#13;&#10;-DtestAgingExpiration=false"/>
</launchConfiguration>
