<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OL_aotsanddcaeclevents"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.att.overland.vscl13223.us586187.ProcessAOTSAndDCAEEvents"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-c etc/vscl13223_us586187_config.json"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OL_aotsanddcaeclevents"/>
</launchConfiguration>
