<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CUC-P_SQLServer/src/main/java/com/att/gfp/cucp/sqlserver/SQLServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.att.gfp.cucp.sqlserver.SQLServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CUC-P_SQLServer"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DPromptForPassword=y"/>
</launchConfiguration>
